.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .container .contextWrapper {
    width: 480px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }
  .container .contextWrapper .title {
    font-size: 26px;
    color: #9ac355;
    font-weight: bold;
  }
  .container .contextWrapper .description {
    font-size: 12px;
    color: #a2acb6;
  }
  .container .contextWrapper .petStatusWrapper {
    padding-top: 30px;
  }
  .container .contextWrapper .petStatusWrapper .statusItemWrapper {
    display: flex;
    padding-top: 20px;
  }
  .container .contextWrapper .petStatusWrapper .statusItemWrapper .statusItem {
    margin-right: 10px;
  }
  .container .contextWrapper .inputWrapper {
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: start;
  }
  .container .contextWrapper .inputWrapper .inputItem {
    margin: 10px 10px 10px 0px;
  }
  .container .contextWrapper .submitButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .container .contextWrapper .submitButtonWrapper .submitButton {
    cursor: pointer;
    border-radius: 20px;
    background-color: #9ac355;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
  }
  .container .inputLabel {
    font-size: 14px;
    color: #5d6870;
  }
  .container .requiredLabel {
    display: flex;
  }
  .container .requiredLabel::after {
    content: "*";
    color: red;
    font-size: 12px;
    display: block;
  }
  .container .input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    border-radius: 5px;
    border: solid 1px #a2acb6;
    padding: 8px;
    color: #a2acb6;
  }
  .container .input:focus {
    outline: none;
    background: none;
  }
  @media (max-width: 900px) {
    .inputItem {
      width: 100%;
    }
  }
  